{% load static %}    
    
    <footer>
        <div class="footer">

            <div class="contact_data">
                <a href="https://www.facebook.com/smartproc/about" class="social_media  facebook" target="_blank">
                    <img loading="lazy" src="{% static 'images/icons/socialMediaIcons/facebook.ico' %}" alt="facebook icon">
                    <p>مركز سمارت برو</p>
                </a>
                <a href="https://www.messenger.com/t/17850056618649389" class="social_media  messenger" target="_blank">
                    <img loading="lazy" src="{% static 'images/icons/socialMediaIcons/messenger.ico' %}" alt="messenger icon">
                    <p>مركز سمارت برو</p>
                </a>
                <a href="https://www.instagram.com/spcentredz/" class="social_media  instagram" target="_blank">
                    <img loading="lazy" src="{% static 'images/icons/socialMediaIcons/instagram.ico' %}" alt="instagram icon">
                    <p>spcentredz</p>
                </a>
                <a href="tel:+213667496590" class="social_media  whatsapp" target="_blank">
                    <img loading="lazy" src="{% static 'images/icons/socialMediaIcons/whatsapp.ico' %}" alt="whatsapp icon">
                    <p dir="ltr">+213(0) 667 496 590</p>
                </a>
                <a href="tel:032 10 99 27" class="social_media  phone">
                    <img loading="lazy" src="{% static 'images/icons/socialMediaIcons/phone.ico' %}" alt="phone icon">
                    <p dir="ltr">032 10 99 27</p>
                </a>
                <a href="tel:+213667496590" class="social_media  mobile">
                    <img loading="lazy" src="{% static 'images/icons/socialMediaIcons/mobile.ico' %}" alt="mobile icon">
                    <p dir="ltr">+213(0) 667 496 590</p>
                </a>
            </div>

         

            <a href="{% url 'concernsForm' %}" class="concernsBtn"><p>اَرسل لنا انشغالك</p></a>
            
            <div class="copyright">
                <span>Created By <a >Henka Mohammed Bachir</a></span>
                <span>&nbsp;Copyright©2023 Henka Mohammed Bachir</span>
            </div>
            
        </div>
    </footer>
