{% load static %}

<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon"
            data-default-icon="{% static 'images/logo.png' %}" 
            type="image/x-icon"
            href="{% static 'images/logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/baseStyle.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/formStyle.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/stondard.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/show_hideText.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/scrollbar.css' %}"/>
    <title>{{ title }} | Smart Pro Centre</title>
</head>
<body>
    <header>
        <div class="header" style="background-image: none; background-color: #f1f1f1; height: fit-content;">
            <div class="content">
                <a href="{% url 'index' %}"><img class="logo" src="{% static 'images/logo.png' %}" alt="SPC logo"></a>
                {% if user.is_authenticated %}
                <div class="btns_contener">
                    <a href="{% url 'profile' %}" class="btn_ btn_info">الملف الشخصي</a>
                    <a href="{% url 'logout' %}" class="btn_ btn_denger btn_not_bg">خروج</a>
                </div>
                {% endif %}
            </div>
        </div>
    </header>

{% block content %}

{% endblock content %}



<script>
    setTimeout(() => {
        const box = document.getElementById('alert_');

        // 👇️ removes element from DOM
        box.style.display = "none";

        // 👇️ hides element (still takes up space on page)
        // box.style.visibility = 'hidden';
    }, 5000); // 👈️ time in milliseconds




    let textValue = document.getElementById("post'{{ post.title }}'").innerHTML;
    var spaces = textValue.split(" ").length - 1;
    const text = document.getElementsByClassName("postBody");
    const show_more_btn = document.getElementsByClassName("show_more");
    
    const textShrink = "display:-webkit-box; -webkit-line-clamp:3; -webkit-box-orient:vertical;";


    function postBody_func(){
        for(i=0; i<text.length; i++){
            if(spaces >= 50){
                text[i].style.cssText = textShrink;
                show_more_btn[0].style.display = "block";
            }
        }
    }

    const buttonPressed = e => {
        id = e.target.id.split("_")
        if(e.target.innerHTML === "شاهد المزيد.."){
            document.getElementById(id[0]).style.cssText = "";
            e.target.innerHTML = "شاهد أقل.";
        }
        else{
            document.getElementById(id[0]).style.cssText = textShrink;
            e.target.innerHTML = "شاهد المزيد..";
        }
    }
    for(let btn of show_more_btn){
        btn.addEventListener("click", buttonPressed);
    }

    // function show_more_func(){
    //     if(show_more_btn[0].innerHTML === "شاهد المزيد.."){
    //         text[0].style.cssText = "";
    //         show_more_btn[0].innerHTML = "شاهد أقل.";
    //     }
    //     else{
    //         text[0].style.cssText = textShrink;
    //         show_more_btn[0].innerHTML = "شاهد المزيد..";
    //     }
    // }
    
    window.onload = postBody_func();
    
</script>

</body>
</html>