{% extends 'forms/base.html' %}

{% block content %}

{% include 'another/message.html' %}

<div class="login main">
    <form method="POST" class="loginForm signupForm">
        <h2 class="loginTitle">تعديل التّعليق</h2>
        <div class="inLoginForm inSignupForm">
            {% csrf_token %}
            <input type="text" name="id" value="{{ usercomment.id }}" hidden>
            {{ commentUpdateForm }}
            <textarea name="comment" cols="40" rows="10" class="commentTextArea commentUpdateTextArea" required="" id="id_comment">{{ currentComment }}</textarea>
            <input type="submit" value="تعديل التّعليق" class="btn_ loginBtn">
        </div>
    </form>
</div>

{% endblock content %}