{% autoescape off %}
Welcom to Smart Pro Centre Platform

Hello {{ name }}

We resived a request to reset the password for your account for this email address. To initiale the password reset process for your account click the link below
{{ protocol }}://{{ domain }}{% url 'passwordResetConfirm' uidb64=userId token=token %}

This link can only be used once, If you need to reset password again, Please visit {{ protocol }}://{{ domain }} and request another reset.

If you did not make this request, you can simply ignore this email.


Sincerely,
Smart Pro Centre
{% endautoescape %}